body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #000;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

* {
	box-sizing: border-box;
}
.call {
	padding-top: 40px;
	text-align: center;
	clear: both;
}

.call p{
	margin-bottom: 20px;
}
.btn {
    border: 3px solid #B4676B;
    background: #B4676B;
    padding: 10px 30px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    border-radius: 5rem;
}

.btn:hover {
	color: #fff;
    border-color: #DF3661;
    background: #DF3661;
}

.btn.btn-azul {
    color: #fff;
    background: #DF3661;
    margin-left: 10px;
    border-color: #DF3661;
}
.btn.btn-azul:hover{
    border-color: #B4676B;
    background: #B4676B;
}

/*menu*/
.menu-bg {
    top: 0;
    width: 100%;
    background:url(../img/bg.jpg) no-repeat center;
    background-size: cover;
}
.menu-logo {
    padding: 31px;
    max-width: 200px;
}
.menu{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: center;
}

.menu a {
	color: #fff;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
}    
.menu-nav a {
    font-size: 0.875em;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 20px;
    display: block;
    padding: 10px;
    text-transform: uppercase;
}
.menu-nav a:hover{
	color: #DF3661;
}

/*Introducao*/

.introducao-container {
    margin: 0 auto;
    text-align: center;
    height: 330px;
}
.introducao-container span{
    color: #fff;
}
.introducao-container img {
    margin: 0 auto;
    max-width: 240px;
    margin-bottom: 30px;
}
.introducao-container h2{
    color: #B4676B;
    font-size: 80px;
    padding-top: 60px;
}
.introducao-container p{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 50px;
}

.btn-principal{
    display: flex;
    padding-bottom: 20px;
}
/*SOBRE*/
.sobre{
    max-width: 960px;
	margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;

}
.sobre img {
    max-width: 300px;
    margin: 0 auto;
}
.sobre-info h1{
    color: #DF3661;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.sobre-info p{
    width: 469px;
}

.sobrep{
    width: 583px;
}
.exp h4{
    color: #DF3661;
}
.exp p{
    width: 469px;
}
.sobre-skills{
    display: flex;
    flex-wrap: wrap;
}
.botao-vibration{
    animation: pulse 3s infinite;
    
}
@keyframes pulse{
    0%{
        transform: scale(0.9);
    }
    70%{
        transform: scale(1);
       
    }
    100%{
        transform: scale(0.9);
        border-radius: 5rem;
    }
}
/*Skills*/
.skills-container{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
}
.skills-container h1{
    color: #DF3661;
    text-transform: uppercase;
}
.skills-grupo{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.skills-container h1{
    color: #DF3661;
    text-transform: uppercase;
    padding: 10px;
}

.skills-img {
    margin: 15px;
    box-shadow: 2px 4px 7px 1px #b4676b;
    border-radius: 1rem;
    width: 28em;
}
.skills-img h2{
    text-align: center;
    color:#B4676B;
    padding-top: 20px;
    text-transform: uppercase;
    
}
.skills-img .call {
    margin-bottom: 22px;
}
.skills-img img{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}


/**PORTFOLIO*/
.portfolio-container{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
}
.portfolio-container h1 {
    color: #DF3661;
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 10px;
}
.portfolio-grupo{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.portfolio-img {
    margin: 15px;
    box-shadow: 2px 4px 7px 1px #b4676b;
    border-radius: 1rem;
    width: 28em;
}
.portfolio-img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.portfolio-img h4, .portfolio-img h3{
    text-align: center;
}
.portfolio-img h3{
    color:#DF3661;
}
.portfolio-img .call {
    margin-bottom: 20px;
    padding-top: 0px!important;
}
.portfolio-img .btn.btn-azul{
    color: #fff;
    background:#B4676B;
    border-color: #B4676B;
}
.img-port{
    border-radius:1em;
}
/*formação*/
.formacao{
    max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;

}
.formacao h1{
    color: #DF3661;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.formacao-info p{
    color: #DF3661;
}
/**contato*/
.contato-container{
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0;
}
.contato-grupo{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.contato-container h1{
    color: #DF3661;
    text-transform: uppercase;
    padding: 10px;
}

.contato-img {
    margin: 15px;
    box-shadow: 2px 4px 7px 1px #b4676b;
    border-radius: 1rem;
    width: 28em;
    
}
.contato-img h2{
    text-align: center;
    
}
.contato-img .call {
    margin-bottom: 22px;
}
.contato-img img{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer {
    background: transparent linear-gradient(58deg, #DF3661 12%, #B4676B 166%) 0% 0% no-repeat padding-box;
    opacity: 1;
    align-items: center;
    margin-top: 20px;
}
.footer p {
	text-align: center;
	font-size: 1.15em;
    color: #fff; 
    font-weight: bold;
    padding: 40px;
}
@media(max-width:960px){
    .menu {
        padding-right: 35px;
    }
    .sobre, .formacao {
       padding: 60px 20px;
    }
    .skills-container {
        padding: 60px 10px;
    }
    .skills-container, .portfolio-container, .contato-container {
        padding: 60px 10px;
    }
}
/*MENU HAMBUGUER*/
@media(max-width:780px){
    .menu-nav a {
        font-size: 1.125em;
        font-weight: 700;
        letter-spacing: 0.1em;
        line-height: 50px;
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        
    }
    .menu nav {
        margin: 0 auto;
        margin-top: -74px;
        margin-left: 54px;
        text-align: center;
        z-index: 1;
    }
    .menu-nav ul {
        display: inline-block;
    }
    
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 30px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    .menu-btn__burger {
        width: 50px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        transition: all .5s ease-in-out;
        z-index: 1;
    }
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: '';
        display: block;
        position: absolute;
        width: 40px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;
      }
      .menu-btn__burger::before {
        transform: translateY(-16px);
      }
      .menu-btn__burger::after {
        transform: translateY(16px);
      }
      /* ANIMATION */
      .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: #b4676b;
        box-shadow: 0 0 0 100vw #B4676B, 0 0 0 100vh #b4676b;
      }
      .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
}

@media (min-width:661px) and (max-width:904px){
    .introducao-container h2 {
        color: #B4676B;
        font-size: 3.65em;
    }
    .introducao-container {
        height: 300px;
    }
}
@media (min-width:556px) and (max-width:660px){
    .introducao-container h2 {
        font-size: 3em;
    }.introducao-container {
        height: 300px;
    }
}
@media (max-width:555px) {
    .introducao-container h2 {
        font-size: 2.5em;
    }.introducao-container {
        height: 260px;
    }
}
@media only screen and (max-width: 880px){
   .menu-nav {
        margin: 0 auto;
        padding: 22px 0px 0px 77px;
    }
}
@media  only screen and  (min-width:460px) and (max-width:955px){
    .sobre, .skills-container, .contato-container, .portfolio-container, .formacao {
        max-width: 489px;
        margin: 0 auto;
        padding: -1px;
    }
    .sobre-info, .formacao-info{
        padding: 10px;
    }
    .sobre img {
        max-width: 300px;
        padding: 20px;
        margin: 0 auto;
    }
    .btn-principal {
        display: block;
    }
    .sobre-info p, .exp p {
        width: 400px;
    }
    .skills-img img {
        width: 110px;
    }
    .menu-bg {
        top: 0;
        width: 100%;
        background: url(../img/bg.jpg) no-repeat center;
        background-size: cover;
    }

}
@media only screen and (min-width:400px) and  (max-width:459px){
   
    .sobre-info p, .exp p {
        width: 380px;
        padding-right: 20px;
    }
    .sobre img {
        max-width: 300px;
        padding: 20px;
        margin: 0 auto;
    }
    .btn {
        padding: 10px 21px;
        margin: 0 auto;
    }
    
    .skills-img img {
        width: 110px;
    }
    .introducao-container h2 {
        font-size: 1.875em;
    }
    .introducao-container p {
        font-size: 1em;
    }
    .introducao-container {
        height: 238px;
    }
    .btn-principal {
        display: block;
    }
}
@media(min-width:360px) and (max-width:399px){
    .menu-logo {
        padding: 31px;
        max-width: 150px;
    }
    .sobre img {
        max-width: 300px;
        padding: 20px;
        margin: 0 auto;
    }
    .exp p, .sobre-info p{
        width: 321px;
    }
    .portfolio-img h3{
        color: #DF3661;
        font-size: 1.125em;
    }
    .introducao-container h2 {
        font-size: 1.875em;
    }
    .introducao-container p {
        font-size: 1em;
    }
    .introducao-container {
        height: 238px;
    }
    .menu-nav {
        margin: 0 auto;
        padding: 22px 0px 0px 60px;
    }.btn {
        padding: 10px 20px
    }
    .btn-principal {
        display: block;
    }
}
@media(max-width:359px){
    .menu-bg {
        width: 73.82vh;
    }
    .sobre img {
        max-width: 359px;
        padding: 20px;
        margin: 20px auto;
        display: block;
    }
    .btn-principal {
        display: flex;
        padding-left: 10px;
    }
    .formacao-info h3{
        width: 300px;
    }
    
    .skills-container, .portfolio-container, .contato-container, .formacao, .sobre {
        max-width: 359px;
        padding: 60px 0px;
    }
    .skills-img, .portfolio-img, .contato-img {
        width: 69.4vh;
        margin-top: 20px;
    }
    .skills-grupo, .portfolio-grupo, .contato-grupo{
        display: block;
    }
    .portfolio-img h3 {
        color: #DF3661;
        font-size: 1em;
    }
    .portfolio-img {
        height: 25em;
    }
    .contato-img {
        height: 14em;
    }
    .btn {
        padding: 10px 30px;
    }
    .introducao-container p {
        font-size: 16px;
     }
     .introducao-container h2 {
        font-size: 1.8em;
    }
    .exp p,  .sobre-info p  {
        width: 300px;
    }
    .sobre, .formacao {
        padding: 60px 16px;
    }
    .skills-img h2 {
        text-align: center;
        padding-top: 20px;
        text-transform: uppercase;
        font-size: 1.125em;
    }
    .contato-img h2 {
        text-align: center;
        font-size: 1.25em;
    }
    .footer {
       width: 73.82vh;
    }
}
